---
layout: page
---

{% assign hasNotice = false %}
<div class="container">
    {% assign sorted = site.notices | sort: 'date' | reverse %}
    {% for notice in sorted %}
       {% unless notice.published %} {% continue %}{% endunless %}
       <div class="card my-5 {{notice.class}}">
         <div class="card-header">
            <a class="text-white" href="{{site.url}}{{site.baseurl}}{{ notice.url }}">
              {{notice.name}} - on 
              <span>
                {{ notice.date | date: "%b %d, %Y - %a" }}
              </span>
            </a>
         </div>
         <div class="card-body">
          {{notice.excerpt}}
         </div>
       </div>
     {% assign hasNotice = true%}
    {% endfor %}
</div>

{% unless hasNotice %}
  <div class="p-4 bg_random_color text-white">
    <h2 class="m-0">We don't have any notice yet</h2>
  </div>
{% endunless %}

{{content}}